<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribute | 211</title>
    <link rel = "icon" href =  
    "https://upload.wikimedia.org/wikipedia/commons/9/9a/US_211.svg" 
            type = "image/x-icon"> 
</head>
<style>

</style>

<body>

    <form method="POST" action="/daal" id="fo">
        <span>Name : </span><input type="text" id="sex" name="name"  required/><br>
        <span>Content :</span><input type="text" id="pex" name="message" required/><br>
        <button type="submit">submit here</button>
    
 </div>
</body>

</html>