<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home | 211</title>
    <link rel = "icon" href =  
    "https://upload.wikimedia.org/wikipedia/commons/9/9a/US_211.svg" 
            type = "image/x-icon"> 

    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=IM+Fell+Double+Pica+SC&family=Ubuntu&display=swap" rel="stylesheet">

</head>
<style>
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Pacifico', cursive;
        background-color: black;
    }
    
    #heading {
        margin-top: 2.5rem;
    }
    
    .topnav {
        font-size: 15px;
        /* display: inline-block; */
        margin: 2px 33%;
        font-family: 'Bubblegum Sans', cursive;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .topnav a {
        color: white;
        text-decoration: none;
        padding: 15px;
        font-size: large;
        margin: 5px;
    }
    
    .topnav a:hover {
        text-decoration: underline;
        color: yellow;
    }
    
    .topnav a.active {
        text-decoration: underline;
        color: yellow;
    }
    /* .topnav .icon {
  display: none;
} */
    
    @media screen and (max-width: 600px) {
        .topnav a {
            padding: 0%;
        }
        /* .topnav a.icon {
    float: right;
    display: block;
  } */
    }
    
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            padding: 0%;
        }
        .topnav.responsive a {
            float: none;
            display: flex;
            text-align: center;
            padding: 0%;
        }
    }
    
    #container1::before {
        /* background: url(https://www.solidbackgrounds.com/images/2560x1440/2560x1440-light-cyan-solid-color-background.jpg) no-repeat center center/cover; */
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 1;
    }
    
    #i211 {
        height: 5rem;
    }
    
    #i1 {
        margin-top: 3rem;
        width: 100vw;
    }
    
    #ih {
        position: relative;
        text-align: center;
        font-size: 5rem;
        color: rgb(53, 8, 36);
    }
    
    #ii {
        font-family: 'IM Fell Double Pica SC', serif;
        text-align: center;
        font-size: 5rem;
        color: rgb(0, 0, 0);
    }
    
    .parallax {
        border: 3px solid black;
        /* vertical-align: middle; */
        /* text-align: center; */
        /* line-height: 90px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2px;
        background-image: url("https://cdn.pixabay.com/photo/2016/01/19/17/19/foggy-1149637_960_720.jpg");
        opacity: 0.9;
        /* Set a specific height */
        height: 30rem;
        width: 100vw;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @media screen and (max-width: 1056px) {
        #ih {
            font-size: medium;
        }
    }
    
    .box {
        font-family: 'IM Fell Double Pica SC', serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .circle {
        height: 120px;
        border-radius: 100%;
    }
</style>

<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Home</a>
            <a href="/memories">Memories</a>
            <span id="midlogo">
                <a  href="#"><img class="logo"
                        src="https://upload.wikimedia.org/wikipedia/commons/9/9a/US_211.svg" height="30px"
                        onclick="showAbout()"></a>
            </span>
            <a href="/contact">Contact</a>

            <a href="/contribute">Contribute </a>

            <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a> -->
        </div>

    </header>

    <div class="parallax">
        <h1 id="ii">211-Extended</h1>
        <h1 id="ih"></h1>
    </div>
    <div>

        <div class="box">
            <div class="akram">
                <a href="/akram" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/69405939_123622245646474_6832581339099693056_n.jpg?_nc_cat=107&_nc_sid=174925&_nc_ohc=1BVufFUNJGkAX8GA_ke&_nc_ht=scontent.fknu1-1.fna&oh=a790e6ff563834ad4d8c121226354c75&oe=5F8147EA" class="circle"></a>
            </div>
            <div class="aadi">
                <a href="/aditya" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/82208327_2520501884831749_5037329629786931200_o.jpg?_nc_cat=108&_nc_sid=09cbfe&_nc_ohc=hcEvMUlO6PUAX-QSEx3&_nc_ht=scontent.fknu1-1.fna&oh=8b5cb613186c34f11266549439c21447&oe=5F824C3E" class="circle"></a>
            </div>
            <div class="shivam">
                <a href="/shivam" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/68893298_475076083328529_659245941991145472_n.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=B8hlbhOsBF4AX-MF3zq&_nc_ht=scontent.fknu1-1.fna&oh=28cb19c8309d7b286845bd89e7701e16&oe=5F831BE9" class="circle"></a>
            </div>
            <div class="arjun">
                <a href="/arjun" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/90472272_100685368241841_5375497255681785856_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=KdanFTdWhssAX8viXU4&_nc_ht=scontent.fknu1-1.fna&oh=19bfab51c8461e5ccc0f66d52efcd9d8&oe=5F80F259" class="circle"></a>
            </div>
            <div class="harshit">
                <a href="/harshit" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/67871616_2940278079529683_8607261864461598720_o.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_ohc=mM0DiIjKLJoAX8axpO6&_nc_ht=scontent.fknu1-1.fna&oh=49d7d88b8b922b4a85bcab76b1146693&oe=5F7FB6AD" class="circle"></a>
            </div>
            <div class="harsh">
                <a href="/harsh" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/119088349_154320246320187_3085608309432046314_n.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=i4UYOION7WoAX9Iy1ou&_nc_ht=scontent.fknu1-1.fna&oh=3cbf7fd9ac977cb5e3ec49c50bff697c&oe=5F82AEB0" class="circle"></a>
            </div>
            <div class="abhinay">
                <a href="/abhinay" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/67565130_107909440543768_4435004562952159232_n.jpg?_nc_cat=101&_nc_sid=09cbfe&_nc_ohc=a1mVq2EDVBUAX-CIBHC&_nc_ht=scontent.fknu1-1.fna&oh=40951bdbb1b92d0d1430705fce9984bc&oe=5F80CD57" class="circle"></a>
            </div>
        </div>

    </div>


    <script>
        var a = document.getElementById("ih")

        var array = [];
        array.push("")
        array.push("Hey");
        array.push("Folks.");
        array.push("How");
        array.push("U");
        array.push("doin!!!");

        var link = document.getElementById("ih");
        var index = 0;
        var length = array.length;
        var period = 500; // miliseconds
        var id;
        var s1 = "";

        function changeLink() {
            index += 1;
            if (index >= length) {
                index = 0;
                s1 = ""
            }
            s1 = s1 + " " + array[index];
            link.innerHTML = s1;

        }

        id = setInterval(changeLink, period);
    </script>
</body>

</html>