<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | 211</title>
    <link rel = "icon" href =  
    "https://upload.wikimedia.org/wikipedia/commons/9/9a/US_211.svg" 
            type = "image/x-icon"> 
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=IM+Fell+Double+Pica+SC&family=Ubuntu&display=swap" rel="stylesheet">

</head>
<style>
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Pacifico', cursive;
        background-color: black;
    }
    
    #heading {
        margin-top: 2.5rem;
    }
    
    .topnav {
        font-size: 15px;
        /* display: inline-block; */
        margin: 2px 33%;
        font-family: 'Bubblegum Sans', cursive;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .topnav a {
        color: white;
        text-decoration: none;
        padding: 15px;
        font-size: large;
        margin: 5px;
    }
    
    .topnav a:hover {
        text-decoration: underline;
        color: yellow;
    }
    
    .topnav a.active {
        text-decoration: underline;
        color: yellow;
    }
    /* .topnav .icon {
  display: none;
} */
    
    @media screen and (max-width: 600px) {
        .topnav a {
            padding: 0%;
        }
        /* .topnav a.icon {
    float: right;
    display: block;
  } */
    }
    
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            padding: 0%;
        }
        .topnav.responsive a {
            float: none;
            display: flex;
            text-align: center;
            padding: 0%;
        }
    }
    
    #container1::before {
        /* background: url(https://www.solidbackgrounds.com/images/2560x1440/2560x1440-light-cyan-solid-color-background.jpg) no-repeat center center/cover; */
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 1;
    }
    
    #i211 {
        height: 5rem;
    }
    
    #i1 {
        margin-top: 3rem;
        width: 100vw;
    }
    
    #ih {
        position: relative;
        text-align: center;
        font-size: 5rem;
        color: rgb(53, 8, 36);
    }
    
    #ii {
        font-family: 'IM Fell Double Pica SC', serif;
        text-align: center;
        font-size: 5rem;
        color: rgb(0, 0, 0);
    }
    
    .parallax {
        border: 3px solid black;
        /* vertical-align: middle; */
        /* text-align: center; */
        /* line-height: 90px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2px;
        background-image: url("https://cdn.pixabay.com/photo/2016/01/19/17/19/foggy-1149637_960_720.jpg");
        opacity: 0.9;
        /* Set a specific height */
        height: 30rem;
        width: 100vw;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @media screen and (max-width: 1056px) {
        #ih {
            font-size: medium;
        }
    }
    
    .box {
        font-family: 'IM Fell Double Pica SC', serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .circle {
        height: 120px;
        border-radius: 100%;
    }
</style>

<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Home</a>
            <a href="/memories">Memories</a>
            <span id="midlogo">
                <a  href="#"><img class="logo"
                        src="https://upload.wikimedia.org/wikipedia/commons/9/9a/US_211.svg" height="30px"
                        onclick="showAbout()"></a>
            </span>
            <a href="/contact">Contact</a>
            <a href="/contribute">Contribute </a>
            <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a> -->
        </div>

    </header>

    <div class="parallax">
        <h1 id="ii">211-Extended</h1>
        <h1 id="ih"></h1>
    </div>
    <div>

        <div class="box">
            <div class="akram">
                <a href="/akram" target="blank"><img src="https://scontent.flko4-1.fna.fbcdn.net/v/t1.0-9/123692455_373948943947135_4960322748329735603_n.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_ohc=Y2lzcqN3uqIAX9PnZKv&_nc_ht=scontent.flko4-1.fna&oh=4c42c1e219fe1008f25296400954c9e6&oe=6045EFCF" class="circle"></a>
            </div>
            <div class="aadi">
                <a href="/aditya" target="blank"><img src="https://scontent.flko4-1.fna.fbcdn.net/v/t1.0-9/82208327_2520501884831749_5037329629786931200_o.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_ohc=k8NGGAN6yuwAX9eQ1HE&_nc_ht=scontent.flko4-1.fna&oh=fbb5d751d3b2b795b6aae5ac2e21b567&oe=60480D3E" class="circle"></a>
            </div>
            <div class="shivam">
                <a href="/shivam" target="blank"><img src="https://scontent.flko4-1.fna.fbcdn.net/v/t1.0-9/68893298_475076083328529_659245941991145472_n.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_ohc=Ql5AUmCYNK4AX8qpOSJ&_nc_ht=scontent.flko4-1.fna&oh=e09b79ef4e12b3ee35f5c257e665c77a&oe=6044E869" class="circle"></a>
            </div>
            <div class="arjun">
                <a href="/arjun" target="blank"><img src="https://scontent.flko4-1.fna.fbcdn.net/v/t1.0-1/p200x200/90472272_100685368241841_5375497255681785856_o.jpg?_nc_cat=107&ccb=2&_nc_sid=7206a8&_nc_ohc=uQ1PABr3F_sAX8p9oBE&_nc_ht=scontent.flko4-1.fna&tp=6&oh=24ef657c8ed2dc08b77a7455a72150b2&oe=6046A16A" class="circle"></a>
            </div>
            <div class="harshit">
                <a href="/harshit" target="blank"><img src="https://scontent.flko4-1.fna.fbcdn.net/v/t1.0-9/130777430_3466010456956440_907565482314790597_o.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=Isyj4b6Y9YgAX824zF0&_nc_ht=scontent.flko4-1.fna&oh=1ed23216e16d16c4e050dc11a449d0b4&oe=60485C49" class="circle"></a>
            </div>
            <div class="harsh">
                <a href="/harsh" target="blank"><img src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/119088349_154320246320187_3085608309432046314_n.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=i4UYOION7WoAX9Iy1ou&_nc_ht=scontent.fknu1-1.fna&oh=3cbf7fd9ac977cb5e3ec49c50bff697c&oe=5F82AEB0" class="circle"></a>
            </div>
            <div class="abhinay">
                <a href="/abhinay" target="blank"><img src="https://scontent.flko4-1.fna.fbcdn.net/v/t1.0-9/67565130_107909440543768_4435004562952159232_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=tdLdpMoRZ4cAX9MKsEJ&_nc_ht=scontent.flko4-1.fna&oh=418da33bb42d53254b43cef24f3e3709&oe=60468E57" class="circle"></a>
            </div>
        </div>

    </div>


    <script>
        var a = document.getElementById("ih")

        var array = [];
        array.push("")
        array.push("Hey");
        array.push("Folks.");
        array.push("How");
        array.push("U");
        array.push("doin!!!");

        var link = document.getElementById("ih");
        var index = 0;
        var length = array.length;
        var period = 500; // miliseconds
        var id;
        var s1 = "";

        function changeLink() {
            index += 1;
            if (index >= length) {
                index = 0;
                s1 = ""
            }
            s1 = s1 + " " + array[index];
            link.innerHTML = s1;

        }

        id = setInterval(changeLink, period);
    </script>
</body>

</html>
