<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>here we go!!!!!!!!</h1>
    <div id="sex">
        <% array.forEach(element => { %>
            <div id="pex">
                <p>
                    <%=element.name%>
                </p>
                <br>
                <h1 id="pox">
                    <%=element.message%>
                </h1>


            </div>

            <%})%>
    </div>
</body>
<style>
    #sex {
        border: 10px solid red
    }
    
    #pex {
        border: 3px solid black;
    }
    
    #pox {
        text-align: center;
    }
</style>

</html>