<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/daal">
        <input type="text" id="sex" name="name" required/>
        <input type="text" id="pex" name="message" required/>
        <button type="submit">submit here</button>
    </form>
</body>

</html>